.content{
display: flex;
justify-content: center;
background-color: var(--white);
flex-wrap: wrap;
}

img{
    max-width: 580px;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}

.text_content{
    padding: var(--space);
    color: var(--blue-main);
    max-width: 580px;
}

.text_content h3{
    padding:calc(var(--unit) * 2.5) 0;
    font-family: var(--font-baskerville);
}

.text_content p{
    font-family: var(--font-spartan);
    line-height: 1.4rem;
}