.content{
display: flex;
justify-content: center;
background-color: var(--white);
flex-wrap: wrap;
}



.content_item{
    padding: var(--space);
    color: var(--blue-main);
    max-width: 580px;
    flex-wrap: wrap;
}

.content_item h3{
    padding:calc(var(--unit) * 2.5) 0;
    font-family: var(--font-baskerville);
}

.content_item p{
    font-family: var(--font-spartan);
    line-height: 1.4rem;
}