.container_intro{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: calc(var(--unit) * 8) 0;
    font-family: var(--font-baskerville);
}

.container_intro h2{
color: var(--white);
}

.intro_p{
    font-family: var(--font-spartan);
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--white);
    padding: var(--space) calc(var(--space) * 2);
    max-width: 580px;
}