section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.aboutMe-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: calc(var(--unit) * 4);
}

.h1 {
    font-family: var(--font-spartan);
    color: var(--ocher);
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--unit) * 5);
    line-height: calc(var(--unit) * 5.5);

}

.h2 {
    font-family: var(--font-baskerville);
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--unit) * 2);
    line-height: 21px;
}

.button-aboutMe {
    border: 1px solid var(--ocher);
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-spartan);
    padding: var(--unit);
    font-size: calc(var(--unit) * 2);
    
}

.button-aboutMe:hover {
    color: var(--blue-main);
    background-color: var(--white);
    font-weight: 750;
}

.aboutMe-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: var(--space);
    padding: var(--space);
    background: #FFFFFF;
    border-radius: 8px;
}

.aboutMe-text {
    font-family: var(--font-baskerville);
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--unit) * 1.5);
    line-height: var(--space);
    color: var(--blue-main);
    margin-top: var(--unit);
}

.aboutMe-h3 {
    font-family: var(--font-spartan, sans-serif);
    font-style: normal;
    font-weight: 600;
    font-size: calc(var(--unit) * 4.5);
    line-height: calc(var(--unit) * 4.5);
    color: var(--blue-main);
}

.aboutMe-h4 {
    font-family: var(--font-spartan, sans-serif);
    font-style: normal;
    font-weight: 500;
    font-size: calc(var(--unit) * 2);
    line-height: calc(var(--unit) * 2);
    color: var(--blue-main);
    margin-top: var(--unit);
}

.aboutMe-content_item {
    align-items: center;
    width: 50%;
    flex-direction: column;
}

.aboutMe-pic {
    width: 124px;
    border-radius: 62px;
}