.link-card {
    display: contents;
    color: var(--white);
    transition: all 0.2s ease;
}

.grid-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: calc(var(--unit) * 3) 0;
    padding: 0 var(--space);

}

.projects-card {
    background-color: var(--blue-main);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    margin: var(--space) 0;
    border: 3px solid var(--ocher);
    border-radius: var(--unit);
    width: 100%;
    max-width: 600px;
    cursor: pointer;
    transition: all 0.2s ease;


}

.projects-card:hover{
    background-color: var(--white);
    color: var(--blue-main);
    border: 3px solid var(--white);
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
}

.projects-card:hover .link-card{
    color: var(--blue-main);
}

.card-title{
    font-family: var(--font-spartan);
    font-style: normal;
    font-weight: 700;
    /* font-size: 24px; */
    font-size: clamp(1.5rem, 8vw - 1.6rem, 1.8rem);
    line-height: 26px;
    
    /* color: var(--blue-main); */
}

.card-title p{
    font-family: var(--font-baskerville);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-top: 4px;
    /* color: var(--blue-main); */
}