.link-card {
    display: contents;
    color: var(--blue-main);
}

.grid-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.projects-card {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    margin: var(--space) 0;
    border-radius: var(--unit);
    width: 80%;
    max-width: 1000px;
    cursor: pointer;


}

.card-title{
    font-family: var(--font-spartan);
    font-style: normal;
    font-weight: 700;
    /* font-size: 24px; */
    font-size: clamp(1.5rem, 8vw - 1.6rem, 1.8rem);
    line-height: 26px;
    
    color: var(--blue-main);
}

.card-title p{
    font-family: var(--font-baskerville);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--blue-main);
}