header {
    /* position: absolute; */
    width: 100%;
    min-height: 60px;
    left: 0px;
    top: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--unit) * 2);
    font-family: var(--font-spartan, sans-serif);
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    z-index: 10;
}

.invisible {
    display: none;
}

.visible{
    display: block;
}

.menu-icon {
    position: absolute;
    top: var(--space);
    right: var(--space);
    cursor: pointer;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc(60px - var(--space)) 0;
}

.menu-links a {
    display: flex;
    padding: var(--space);
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-decoration: none;
    color: var(--blue-main);
}