.header {
    position: absolute;
    width: 100%;
    min-height: 60px;
    left: 0px;
    top: 0px;
    background-color: var(--white);
    display: flex;
    align-items: center;
   
    padding: calc(var(--unit) * 2);
    font-family: var(--font-spartan, sans-serif);
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    z-index: 10;
}

.invisible {
    display: none;
}

.visible{
    display: block;
}

.menu-icon {
    position: absolute;
    top: var(--space);
    right: var(--space);
    cursor: pointer;
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc(60px - var(--space)) 0;
}

.menu-links a {
    display: flex;
    padding: var(--space);
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-decoration: none;
    color: var(--blue-main);
}

.menu-links_desktop a {
    margin: 0 var(--space);
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
    color: var(--blue-medium);
}

.menu-links_desktop a:hover {
    color: var(--blue-main);
}


@media (max-width: 800px) {
    .menu-links_desktop{
display: none;
    }

    .header{
        justify-content: center;
    }

    
}

@media (min-width: 800px) {
    .menu-icon{
display: none;
    };

    .menu-links_desktop{
        display: flex;
        align-self: flex-end;
    };

    .header{
        justify-content: flex-end;
    }

    .header-desktop{
        display: flex;
        justify-content: flex-end;
    };
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--ocher);
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--ocher);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }