footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    background-color: var(--white);
    width: 100%;
    height: 222px;
    font-family: var(--font-baskerville);
    font-style: normal;
    font-weight: 400;
    font-size: calc(var(--unit) * 1.5);
    line-height: calc(var(--unit) * 1.5);
    text-align: center;
    color: var(--blue-main);
    margin-top: calc(var(--unit) * 8);
}

.social_icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
}