@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  font-size: 16px;

  /* COLORS: */
  --blue-main: #304C89;
  --blue-medium: #648DE5;
  --white: #FFFFFF;
  --ocher: #CDC392;
  --ocher-light: #E8E5DA;

 /* FONTS */
  --font-spartan:  'League Spartan';
  --font-baskerville:  'Libre Baskerville';

  /* UNITS  */
  --unit: 8px;
  --space: calc(var(--unit) * 2);
}



/* SITE  */

*{
  box-sizing: border-box;
   padding: 0 0 0 0;
   margin: 0 0 0 0;
 }

 .App{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 body{
   background-color: var(--blue-main);
 }

 img{
   height: fit-content;
  max-width: 580px;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  /* margin: var(--space); */
}

/* GENERAL COMPONENTS */

.light{
  color: var(--white);
}

 .button {
  border: 1px solid var(--ocher);
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-spartan);
  padding: var(--unit);
  font-size: calc(var(--unit) * 2);
  transition: all 0.2s ease;
  cursor: pointer;
  
}

.button:hover {
  color: var(--blue-main);
  background-color: var(--white);
}

.button_dark {
  border: 1px solid var(--blue-main);
  background-color: transparent;
  color: var(--blue-main);
  font-family: var(--font-spartan);
  padding: var(--unit);
  font-size: calc(var(--unit) * 2);
  transition: all 0.2s ease;
  cursor: pointer;
  
}

.button_dark:hover{
  color: var(--white);
  background-color: var(--blue-main);
  border-color: var(--ocher);
}